In [28]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta

In [11]:
data = np.load("./PEMS04.npz")["data"]
data = data [...,0]
df=pd.DataFrame(data)
df.shape

(16992, 307)

In [8]:
data = np.load("../PEMS03/PEMS03.npz")["data"]
data = data [...,0]
df=pd.DataFrame(data)
df.shape

(26208, 358)

In [58]:
data = np.load("../PEMS07/PEMS07.npz")["data"]
data = data [...,0]
df=pd.DataFrame(data)
df.shape

(28224, 883)

In [10]:
data = np.load("../PEMS08/PEMS08.npz")["data"]
data = data [...,0]
df=pd.DataFrame(data)
df.shape

(17856, 170)

In [13]:
df.shape

(16992, 307)

In [14]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,297,298,299,300,301,302,303,304,305,306
0,62.0,56.0,90.0,32.0,19.0,68.0,24.0,24.0,31.0,31.0,...,5.0,86.0,54.0,54.0,62.0,37.0,90.0,56.0,48.0,38.0
1,61.0,40.0,94.0,25.0,16.0,64.0,22.0,7.0,29.0,33.0,...,0.0,86.0,46.0,41.0,59.0,38.0,91.0,51.0,30.0,35.0
2,71.0,28.0,79.0,36.0,9.0,60.0,25.0,11.0,25.0,46.0,...,0.0,67.0,59.0,58.0,59.0,34.0,56.0,67.0,31.0,45.0
3,86.0,47.0,94.0,46.0,11.0,58.0,35.0,17.0,28.0,46.0,...,22.0,101.0,82.0,75.0,74.0,75.0,42.0,126.0,64.0,81.0
4,103.0,36.0,154.0,68.0,9.0,56.0,56.0,37.0,36.0,55.0,...,0.0,97.0,88.0,109.0,90.0,61.0,127.0,200.0,63.0,104.0

In [59]:
print(26208/288*0.8)
print(16992/288*0.8)
print(28224/288*0.8)
print(17856/288*0.8)

72.8
47.2
78.4
49.6

In [71]:
start_dates={
    "PEMS03":"2018-09-01 00:00:00",
    "PEMS04":"2018-01-01 00:00:00",
    "PEMS07":"2017-05-01 00:00:00",
    "PEMS08":"2016-07-01 00:00:00",
}
end_dates={
    "PEMS03":"2018-11-30 23:55:00",
    "PEMS04":"2018-02-28 23:55:00",
    "PEMS07":"2017-08-31 23:55:00",
    "PEMS08":"2016-08-31 23:55:00",
}
len_dates={
    "PEMS03":72,
    "PEMS04":47,
    "PEMS07":78,
    "PEMS08":49,
}
# 10195
for k,v in start_dates.items():
    date_str = start_dates[k]
    date_format = "%Y-%m-%d %H:%M:%S"
    date_obj = datetime.strptime(date_str, date_format)
    date_obj_plus_100_minutes = date_obj + timedelta(minutes=5*len_dates[k]*288-5)
    date_str_plus_100_minutes = date_obj_plus_100_minutes.strftime(date_format)
    print(date_str_plus_100_minutes)
train_dates={
    "PEMS03":"2018-11-11 23:55:00",
    "PEMS04":"2018-02-16 23:55:00",
    "PEMS07":"2017-07-17 23:55:00",
    "PEMS08":"2016-08-18 23:55:00",
}

2018-11-11 23:55:00
2018-02-16 23:55:00
2017-07-17 23:55:00
2016-08-18 23:55:00

In [31]:
dataset_name="PEMS04"
data = np.load("./PEMS04.npz")["data"]
data = data [...,0]
df=pd.DataFrame(data)
df.shape
timeslots = pd.date_range(start_dates[dataset_name], end_dates[dataset_name], freq='5min')
len(timeslots)
df.insert(0,'timeslots',timeslots)
df_new = df.set_index('timeslots',drop=True, append=False, inplace=False, verify_integrity=False)

df_new

,0,1,2,3,4,5,6,7,8,9,...,297,298,299,300,301,302,303,304,305,306
timeslots,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,62.0,56.0,90.0,32.0,19.0,68.0,24.0,24.0,31.0,31.0,...,5.0,86.0,54.0,54.0,62.0,37.0,90.0,56.0,48.0,38.0
2018-01-01 00:05:00,61.0,40.0,94.0,25.0,16.0,64.0,22.0,7.0,29.0,33.0,...,0.0,86.0,46.0,41.0,59.0,38.0,91.0,51.0,30.0,35.0
2018-01-01 00:10:00,71.0,28.0,79.0,36.0,9.0,60.0,25.0,11.0,25.0,46.0,...,0.0,67.0,59.0,58.0,59.0,34.0,56.0,67.0,31.0,45.0
2018-01-01 00:15:00,86.0,47.0,94.0,46.0,11.0,58.0,35.0,17.0,28.0,46.0,...,22.0,101.0,82.0,75.0,74.0,75.0,42.0,126.0,64.0,81.0
2018-01-01 00:20:00,103.0,36.0,154.0,68.0,9.0,56.0,56.0,37.0,36.0,55.0,...,0.0,97.0,88.0,109.0,90.0,61.0,127.0,200.0,63.0,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-28 23:35:00,68.0,78.0,85.0,53.0,17.0,168.0,90.0,23.0,27.0,71.0,...,235.0,94.0,97.0,68.0,68.0,168.0,170.0,99.0,80.0,63.0
2018-02-28 23:40:00,75.0,55.0,84.0,53.0,5.0,173.0,44.0,18.0,27.0,78.0,...,242.0,105.0,117.0,79.0,64.0,147.0,171.0,93.0,63.0,60.0
2018-02-28 23:45:00,66.0,76.0,77.0,50.0,15.0,150.0,61.0,16.0,34.0,102.0,...,246.0,88.0,98.0,59.0,64.0,97.0,151.0,85.0,58.0,57.0
2018-02-28 23:50:00,77.0,73.0,96.0,46.0,8.0,156.0,63.0,12.0,27.0,104.0,...,201.0,94.0,101.0,48.0,67.0,117.0,165.0,69.0,52.0,43.0
2018-02-28 23:55:00,74.0,71.0,64.0,43.0,10.0,137.0,40.0,13.0,33.0,78.0,...,208.0,88.0,93.0,50.0,60.0,89.0,143.0,80.0,78.0,40.0

In [32]:
data = df_new.stack().reset_index()
data.columns = ['timestamp', 'sensorid', 'speed']
data['timeinday'] = (data['timestamp'].values - data['timestamp'].values.astype("datetime64[D]")) / np.timedelta64(1, "D")
data['timestamp'] = pd.to_datetime(data['timestamp'])
data['weekdaytime'] = data['timestamp'].dt.weekday * 288 + (data['timestamp'].dt.hour * 60 + data['timestamp'].dt.minute)//5
data

                  timestamp  sensorid  speed  timeinday  weekdaytime
0       2018-01-01 00:00:00         0   62.0   0.000000            0
1       2018-01-01 00:00:00         1   56.0   0.000000            0
2       2018-01-01 00:00:00         2   90.0   0.000000            0
3       2018-01-01 00:00:00         3   32.0   0.000000            0
4       2018-01-01 00:00:00         4   19.0   0.000000            0
...                     ...       ...    ...        ...          ...
5216539 2018-02-28 23:55:00       302   89.0   0.996528          863
5216540 2018-02-28 23:55:00       303  143.0   0.996528          863
5216541 2018-02-28 23:55:00       304   80.0   0.996528          863
5216542 2018-02-28 23:55:00       305   78.0   0.996528          863
5216543 2018-02-28 23:55:00       306   40.0   0.996528          863

[5216544 rows x 5 columns]

In [33]:
df_train = data[(data.timestamp >= start_dates[dataset_name]) & (data.timestamp <= train_dates[dataset_name])]
df_train

                  timestamp  sensorid  speed  timeinday  weekdaytime
0       2018-01-01 00:00:00         0   62.0   0.000000            0
1       2018-01-01 00:00:00         1   56.0   0.000000            0
2       2018-01-01 00:00:00         2   90.0   0.000000            0
3       2018-01-01 00:00:00         3   32.0   0.000000            0
4       2018-01-01 00:00:00         4   19.0   0.000000            0
...                     ...       ...    ...        ...          ...
3130167 2018-02-05 09:35:00       302  184.0   0.399306          115
3130168 2018-02-05 09:35:00       303  156.0   0.399306          115
3130169 2018-02-05 09:35:00       304  522.0   0.399306          115
3130170 2018-02-05 09:35:00       305  144.0   0.399306          115
3130171 2018-02-05 09:35:00       306  229.0   0.399306          115

[3130172 rows x 5 columns]

In [34]:
df_train = df_train[['sensorid', 'weekdaytime', 'speed']]
def get_mean_without_null_values(data, null_val=0.):
        return data[data != null_val].mean()
df_train_avg = df_train.groupby(['sensorid', 'weekdaytime']).aggregate({'speed': get_mean_without_null_values}).reset_index()
df_train_avg

        sensorid  weekdaytime      speed
0              0            0  72.500000
1              0            1  60.333333
2              0            2  67.666667
3              0            3  65.833333
4              0            4  62.833333
...          ...          ...        ...
618907       306         2011  59.000000
618908       306         2012  53.000000
618909       306         2013  46.000000
618910       306         2014  39.000000
618911       306         2015  42.000000

[618912 rows x 3 columns]

In [50]:
data_his = pd.merge(data, df_train_avg, on=['sensorid', 'weekdaytime'], suffixes=(None, '_y'))
data_his

                  timestamp  sensorid  speed  timeinday  weekdaytime  speed_y
0       2018-01-01 00:00:00         0   62.0   0.000000            0     72.5
1       2018-01-08 00:00:00         0   77.0   0.000000            0     72.5
2       2018-01-15 00:00:00         0   82.0   0.000000            0     72.5
3       2018-01-22 00:00:00         0   68.0   0.000000            0     72.5
4       2018-01-29 00:00:00         0   84.0   0.000000            0     72.5
...                     ...       ...    ...        ...          ...      ...
5216539 2018-01-28 23:55:00       306   44.0   0.996528         2015     42.0
5216540 2018-02-04 23:55:00       306   39.0   0.996528         2015     42.0
5216541 2018-02-11 23:55:00       306   36.0   0.996528         2015     42.0
5216542 2018-02-18 23:55:00       306   62.0   0.996528         2015     42.0
5216543 2018-02-25 23:55:00       306   41.0   0.996528         2015     42.0

[5216544 rows x 6 columns]

In [51]:
sensorid_list = df_new.columns
timeslices = df_new.index
mux = pd.MultiIndex.from_product([timeslices, sensorid_list], names=['timestamp', 'sensorid'])
data_his = data_his.set_index(['timestamp', 'sensorid']).reindex(mux).reset_index()
data_his = data_his[['timestamp', 'sensorid', 'speed', 'timeinday', 'speed_y']]
data_his

                  timestamp  sensorid  speed  timeinday     speed_y
0       2018-01-01 00:00:00         0   62.0   0.000000   72.500000
1       2018-01-01 00:00:00         1   56.0   0.000000   44.666667
2       2018-01-01 00:00:00         2   90.0   0.000000   81.500000
3       2018-01-01 00:00:00         3   32.0   0.000000   37.666667
4       2018-01-01 00:00:00         4   19.0   0.000000   14.333333
...                     ...       ...    ...        ...         ...
5216539 2018-02-28 23:55:00       302   89.0   0.996528   64.400000
5216540 2018-02-28 23:55:00       303  143.0   0.996528  138.400000
5216541 2018-02-28 23:55:00       304   80.0   0.996528   55.200000
5216542 2018-02-28 23:55:00       305   78.0   0.996528   58.200000
5216543 2018-02-28 23:55:00       306   40.0   0.996528   37.000000

[5216544 rows x 5 columns]

In [53]:
print(np.array_equal(data_his['speed'].values.reshape(-1, 307), df_new.values))

True